body{
background-color: white
}

#logo{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:100px;
    
}

div.container {
    width:90%; 
    margin:auto;
  }

  tr,td {text-align:left;}

  button.btn {
     width:200px; 
     height:60px;
     text-align: center;
     vertical-align: middle;
     line-height: 50px;
  }
  img.pic{
    float: left;
  }