{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'ad/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        
        <img id='logo' src="{% static 'ad/logo.png' %}" >

        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>

                {% for country in countries %}
                <tr>
                    <td>{{ country.id }}</td>
                    <td>{{ country.name }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>
</html>